.center{
	background: #212121;
}
.center .left h1{
	font-weight: blod;
	color: #fff;

}
.center .left h1 span{
	font-size: 18px;
}
.center .right{
	border-left: #fff 1px solid;
	color: #D4D4D4;
}
.center .right .head{
	border-bottom: #fff 1px solid;
	margin-top: 50px;
}
.end{
	margin-top: 50px;
	background: #212121;
}
.end ul li{
	margin-top: 10px;
	line-height: 32px;
	
}
.end ul li img{
	/*height:100px;*/

}
.end ul li span{
	line-height: 30px;
	/*padding-top: 50px;*/
	color: #fff;
}
