.login{
	margin-top: 20px;
}
.login .login-title h1{
	padding: 20px;
	background: #fff;
	border-radius: 8px;
	text-align: center;
	color: #000000;
	background-image: url(../img/log.jpg);
	
}
.input-group{
	margin-top: 40px;
}
a:hover{
	text-decoration:none ;
}
